<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<%= form_for :user, url:logresult_path do |f|  %>
  <%= f.label :email %>
  <br>
  <%= f.text_field :email %>

  <br>

  <%= f.label :password %>
  <br>
  <%= f.password_field :password %>

  <br />

  <%= f.submit "Go" %>
<% end %>


</body>

</html>
